<!DOCTYPE html>
html(lang="en")
    head
        include ./utils/meta.pug
        title NeutronJS
        link(rel='stylesheet', type='text/css', href='/assets/css/CLIPAGE.css')
    body
        h1(class='text-center') CLITITLE
        script(src='/assets/js/CLIPAGE.js', async)